<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservation</title>
</head>
<body>
<div>
    <a th:href="@{/owner}">Owners</a>
</div>
<div>
    <a th:href="@{/apart}">Apartments</a>
</div>
<div>
    <a th:href="@{/owner/add}">Add new owner</a>
</div>
<hr>
<div>
    <form th:action="@{/reservation/add}" method="post" th:object="${newReservation}">
        <input type="number" hidden th:field="*{reservationId}">
        <input type="number" hidden th:value="${apartmentToReserveId}" name="apartmentId">
        <input type="date" th:field="*{reservationStart}">
        <input type="date" th:field="*{reservationEnd}">
        <input type="submit">
    </form>
</div>
</body>
</html>